---
import Game from "../components/Game.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tetradle Infinite">
    <div class="container">
        <Game client:only />
    </div>
</Layout>

<style>
    .container {
        margin: auto;
        max-width: 1200px;
    }
</style>
