---
import "@fontsource/plus-jakarta-sans";
import "@fontsource/plus-jakarta-sans/600.css";
import "@fontsource/plus-jakarta-sans/700.css";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta
            name="description"
            content="Guess the TR of two players from a random replay in TETR.IO!"
        />
        <script
            defer
            data-domain="tetradle.superfi.re"
            src="https://rumia.superfi.re/js/script.js"
        ></script>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --dark-1: #0f160d;
        --dark-2: #162113;
        --dark-3: #23341e;
        --light-3: #ddf5da;
        --light-1: #9cca95;
        --light-2: #52804c;

        font-size: 20px;
    }
    html,
    body {
        margin: 0;
        font-family: "Plus Jakarta Sans", sans-serif;
        width: 100%;
        height: 100%;
        background-color: var(--dark-1);
        color: var(--light-1);
    }

    @media only screen and (min-width: 1600px) {
        :root {
            font-size: 22px;
        }
    }
    @media only screen and (min-width: 2160px) {
        :root {
            font-size: 28px;
        }
    }
    @media only screen and (min-width: 2560px) {
        :root {
            font-size: 32px;
        }
    }
    @media only screen and (min-width: 3100px) {
        :root {
            font-size: calc(6px + 1vw);
        }
    }
    @media only screen and (max-width: 1366px) {
        :root {
            font-size: 18px;
        }
    }
    @media only screen and (max-width: 768px) {
        :root {
            font-size: 16px;
        }
    }
    @media only screen and (max-width: 556px) {
        :root {
            font-size: 14px;
        }
    }
    h1 {
        font-size: 2.5rem;
        margin: 0 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    h2 {
        font-size: 1.6rem;
        margin: 0 0;
        margin-bottom: 1rem;
    }

    p {
        margin: 0;
        margin-bottom: 0.7rem;
    }
    .link {
        font-weight: 700;
        color: var(--light-3);
        text-decoration: none;
    }

    .flex {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card {
        padding: 1.5rem 2rem;
        margin: 0 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 3px;
        box-shadow: 0 2px 4px #00000044;
        background-color: var(--dark-2);
    }
    .center {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button {
        text-decoration: none;
        border: none;
        box-sizing: border-box;
        font-family: inherit;
        font-size: 1rem;
        background-color: var(--dark-3);
        color: inherit;
        padding: 0.5em 1.2em;
        height: min-content;
        border-radius: 3px;
        cursor: pointer;
        margin: 0.1rem;
    }
    .button.accent {
        background-color: var(--light-3);
        color: var(--dark-3);
    }
    .button:hover {
        background-color: var(--light-2);
        color: var(--dark-1);
    }
    .button.accent:hover {
        background-color: var(--light-1);
    }
    textarea {
        border: 1px solid var(--dark-3);
        box-sizing: border-box;
        width: 100%;
        font-family: inherit;
        font-size: 1.2rem;
        background-color: var(--dark-1);
        color: inherit;
        padding: 0.5rem;
        height: min-content;
        border-radius: 3px;

        resize: none;
        overflow: hidden;
        margin: 0.5rem 0;
    }
    textarea:focus {
        outline: none;
    }
</style>
